*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --body-bg: #23252C;
  --main-bg: #1A1B21;
  --footer-bg: #161619;
  --light-text-1: #FFF;
  --light-text-2: #F5F5F5;
  --light-text-3: #DCDCDC;
  --colored-text-1: #F3BF99;
  --icon-bg: #918E9B;
}

body {
  background-color: var(--body-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Inter, sans-serif;
}

.main-container {  
  background-color: var(--main-bg);  
  margin: 44px 117px;
  width: 317px;  
  border-radius: 10px;
}

/* Image */

.avatar {  
  border-radius: 10px 10px 0 0;
  width: 100%;
}

/* Main */

main {
  background-color: var(--main-bg);
}

/* Main > Headings */

.headings-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 21px;
  gap: 6px;
}

.main-heading {
  color: var(--light-text-1);
  font-size: 25px;
  font-weight: 700;
}

.sub-heading {
  color: var(--colored-text-1);
  font-size: 13px;
  font-weight: 400;
}

.website {
  color: var(--light-text-2);
  font-size: 10px;
  font-weight: 400;
}

/* Main > Buttons */

.buttons-section {
  display: flex;
  justify-content: space-between;
  margin: 15px 35px 0 35px;
}

/* Main > Buttons > Button */

.contacts-button {
  width: 115px;
  height: 34px;
  border-radius: 6px;
}

/* Main > Text */

.texts-section {
  margin: 33px 35px 34px 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

/* Main > Text > Paragraph */

.paragraph-header, .paragraph-text {
  text-align: left;
  line-height: 1.5;
}

.paragraph-header {  
  font-size: 16px;  
  font-weight: 700;
  color: var(--light-text-2);
}

.paragraph-text {  
  font-size: 11px;
  font-weight: 400;
  color: var(--light-text-3);
}

/* Footer */

footer {
  background-color: var(--footer-bg);
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: center;
  gap: 24px;
}

/* Footer > SocialMediaIcon */

.fab, .fa-brands {
  width: 25px;
  height: 25px;
  margin: 20px 0;  
  background-color: var(--icon-bg);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
