*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --body-bg: #23252C;
  --main-bg: #1A1B21;
  --footer-bg: #161619;
  --light-text-1: #FFF;
  --light-text-2: #F5F5F5;
  --colored-text-1: #F3BF99;
}

body {
  background-color: var(--body-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Inter, sans-serif;
}

.main-container {  
  background-color: var(--main-bg);  
  margin: 44px 117px;
  width: 317px;  
  border-radius: 10px;
}

/* Image */

.avatar {  
  border-radius: 10px 10px 0 0;
  width: 100%;
}

/* Main */

main {
  background-color: var(--main-bg);
}

/* Main > Headings */

.headings-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 21px;
  gap: 6px;
}

.main-heading {
  color: var(--light-text-1);
  font-size: 25px;
  font-weight: 700;
}

.sub-heading {
  color: var(--colored-text-1);
  font-size: 13px;
  font-weight: 400;
}

.website {
  color: var(--light-text-2);
  font-size: 10px;
  font-weight: 400;
}

/* Main > Buttons */

.buttons-section {
  display: flex;
  justify-content: space-between;
  margin: 15px 35px 0 35px;
}

/* Main > Buttons > Button */

.contacts-button {
  width: 115px;
  height: 34px;
  border-radius: 6px;
}

/* Footer */

footer {
  background-color: var(--footer-bg);
  border-radius: 0 0 10px 10px;
}